<div class="product">
	<a href = {{link}}><h3 class = "item-link">{{title}}</h3></a>
	<h4>Sale Price: <span>{{price}}</span></h4>
	
	<a href = {{link}}><img src={{image}} class="item-image" data-id="{{id}}" ></a>
</div>
